table {
  text-align: center;
  width: 100%;
  padding: 4px;
  margin: 0;
  box-shadow: 1px 1px 2px #bbbbbb;
}
details > summary {
  list-style: none;
  padding: 4px;
  text-align: center;
  width: 100%;
  border: none;
  border: solid black 1px;
  box-shadow: 1px 1px 2px #bbb;
  cursor: pointer;
}
details > summary::marker {
  display: none;
}
input {
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  width: 300px;
}

#container {
  width: 1020px;
  height: 570px;
}
#player-1 {
  position: absolute;
  left: 5%;
  top: 1%;
  z-index: 2;
  width: 100px;
}
#player-2 {
  position: absolute;
  right: 5%;
  top: 1%;
  z-index: 2;
  width: 100px;
}

#container {
  background-image: url("images/background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
#menu {
  width: inherit;
  position: absolute;
  top: 10%;
}
