body {
  text-align: center;
}
table {
  margin-left: auto;
  margin-right: auto;
}

#container {
  width: "1020";
  height: "570";
}

#player-1 {
  position: absolute;
  left: 3%;
  z-index: 2;
}

#player-2 {
  position: absolute;
  right: 3%;
  z-index: 2;
}

.flip-box {
  background-color: transparent;
  text-align: center;
  width: 300px;
  height: 150px;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: transparent;
  color: black;
}

.flip-box-back {
  background-color: transparent;
  transform: rotateY(180deg);
  text-align: center;
}
#container {
  background-image: url("images/background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
